@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
}
button,
input {
  outline: 0;
}
.pos-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header input {
  height: 34px;
  border: none;
  font-size: 12px;
}
#header input#username {
  padding-left: 8px;
  border: 1px solid #162c97;
  height: 32px;
  color: #09123e;
}
#header input#open {
  width: 60px;
  background-color: #008080;
  margin-left: 5px;
}
#header input#open:hover {
  cursor: pointer;
}
#header input#close {
  display: none;
  border: none;
  width: 60px;
  background-color: #e74c3c;
  margin-left: 5px;
}
#header input#close:hover {
  cursor: pointer;
}
#header input#uploadMenuBtn {
  display: none;
  border: none;
  width: 60px;
  background-color: #7f8c8d;
  margin-left: 5px;
  width: 100px;
}
#header input#uploadMenuBtn:hover {
  cursor: pointer;
}
#content {
  width: 100%;
  height: calc(100% - 50px - 30px);
  display: flex;
  flex-direction: column;
  background-color: #0de7cc;
  text-align: center;
}
#content #imageComments {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #114183;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
}
#content #imageComments #closeComments {
  width: 25px;
  height: 25px;
  float: right;
  font-weight: bold;
  font-size: 16px;
  background-color: #f00;
  border: none;
  color: #fff;
}
#content #imageComments #closeComments:hover {
  cursor: pointer;
}
#content #imageComments h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#content #imageComments #leftSide {
  width: 49%;
  height: 70%;
  margin-top: 4%;
  float: left;
}
#content #imageComments #leftSide img#imageBig {
  border: 1px solid #fff;
  width: 94%;
  height: auto;
  margin: 20px 0 0 30px;
  float: left;
}
#content #imageComments #rightSide {
  width: 49%;
  height: 70%;
  margin-top: 4%;
  float: right;
  text-align: left;
}
#content #imageComments #rightSide input#comment {
  height: 30px;
  margin-left: 15px;
}
#content #imageComments #rightSide input#send {
  height: 34px;
  padding: 0 15px;
  margin-left: 3px;
}
#content #imageComments #rightSide input#send:hover {
  cursor: pointer;
}
#content #imageComments #rightSide #allComments {
  display: block;
  width: 85%;
  height: 80%;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  overflow-x: hidden;
}
#content #imageComments #rightSide #allComments h3 {
  text-decoration: underline;
}
#content #imageComments #rightSide #allComments p {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 2px;
}
#content #imageComments #rightSide #allComments p:first-child {
  margin-top: 6px;
}
#content #imageComments #rightSide #allComments p span {
  font-weight: bold;
  margin-right: 8px;
}
#content #gallery {
  display: block;
  width: 100%;
  overflow-x: hidden;
}
#content #gallery h1 {
  margin-top: 200px;
  font-weight: 300;
  color: #09123e;
}
#content #gallery div {
  float: left;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0 10px;
  font-weight: bold;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}
#content #gallery div img {
  width: 180px;
  height: auto;
}
#content #gallery div img:hover {
  cursor: pointer;
}
#content #gallery div span {
  float: left;
  color: #fff;
  font-size: 12px;
}
#content #gallery div .nowyKomentarz {
  color: yellow;
}
#content #gallery div .imageAutor {
  padding-top: 5px;
}
#content #uploadBox {
  display: none;
  width: 400px;
  height: 200px;
  border: 1px solid #000;
  background-color: #114183;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#content #uploadBox #closeUpload {
  width: 25px;
  height: 25px;
  float: right;
  font-weight: bold;
  font-size: 16px;
  background-color: #f00;
  border: none;
  color: #fff;
}
#content #uploadBox #closeUpload:hover {
  cursor: pointer;
}
#content #uploadBox h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#content #uploadBox #selectFileInput {
  margin-top: 30px;
  margin-left: 80px;
  width: 200px;
  color: #fff;
}
#content #uploadBox #uploadImageInput {
  color: #000;
}
#content #uploadBox #uploadFileBtn {
  width: 200px;
  margin-top: 6px;
  margin-left: 80px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
#content #logInBox {
  display: none;
  width: 400px;
  height: 200px;
  border: 1px solid #000;
  background-color: #114183;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#content #logInBox #closeLogIn {
  width: 25px;
  height: 25px;
  float: right;
  font-weight: bold;
  font-size: 16px;
  background-color: #f00;
  border: none;
}
#content #logInBox #closeLogIn:hover {
  cursor: pointer;
}
#content #logInBox h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#content #logInBox .loginInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#content #logInBox .loginInputs input {
  width: 200px;
  height: 30px;
}
#content #logInBox .loginInputs input:nth-child(2) {
  margin-top: 5px;
}
#content #logInBox .loginInputs input[type='submit'] {
  width: 100px;
  margin-top: 5px;
  border: none;
}
#content #logInBox .loginInputs input[type='submit']:hover {
  cursor: pointer;
  background-color: #5f7cdd;
  color: #fff;
}
#footer {
  width: 100%;
  height: 30px;
  display: flex;
  background-color: #09123e;
  justify-content: center;
  align-items: center;
}
#footer p {
  font-size: 12px;
}
