// Colors
@nav-color: #2B2B2B;
@content-color: #290909;
@footer-color: #2B2B2B;

// Heights
@nav-height: 8%;
@content-height: 87%;
@footer-height: 5%;

.pos-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


* { margin: 0; padding: 0; }
body {
    font-family: Arial;
    margin: auto;
    .pos-absolute;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
}


header {
    width: 100%;
    height: @nav-height;
    background-color: @nav-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    input {
        height: 34px;
    }
    
    input#username {
        margin-left: 15px;
        height: 30px;
    }
        
    input#open {
        border: none;
        width: 60px;
        background-color: rgb(0, 128, 128);
        color: #fff;
        text-shadow: 0 0 1px #000;
        margin-left: 3px;
        margin-right: 20px;
        
        &:hover { cursor: pointer; }
    }

    input#close {
        display: none;
        border: none;
        width: 60px;
        background-color: rgb(255, 99, 71);
        color: #fff;
        text-shadow: 0 0 1px #000;
        margin-left: 3px;

        &:hover {
            cursor: pointer;
        }
    }

    input#uploadMenuBtn {
        display: none;
        border: none;
        width: 60px;
        background-color: rgb(133, 77, 77);
        color: #fff;
        text-shadow: 0 0 1px #000;
        margin-left: 3px;
        width: 100px;
        margin-right: 20px;
        
        &:hover {
            cursor: pointer;
        }
    }

} // close nav

#content {
    width: 100%;
    height: @content-height;
    display: flex;
    flex-direction: column;
    background-color: @content-color;
    text-align: center;
    

    #imageComments {
        display: none;
        width: 100%;
        height: 100%;
        background-color: #114183;
        .pos-absolute;
        margin: auto;
        z-index: 1000;

        #closeComments {
            width: 25px;
            height: 25px;
            float: right;
            font-weight: bold;
            font-size: 16px;
            background-color: #f00;
            border: none;
            color: #fff;            
            
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 2px #000;
            }
        } 
        
        h1 {
            display: flex;
            justify-content: center;
            color: #fff;
            margin-top: 20px;
        }
        
        #leftSide {
            width: 49%;
            height: 70%;
            margin-top: 4%;
            float: left;
            
            img#imageBig {
                border: 1px solid #fff;
                width: 94%;
                height: auto;
                margin: 20px 0 0 30px;
                float: left;
            }
        }
        
        #rightSide {
            width: 49%;
            height: 70%;
            margin-top: 4%;
            float: right;
            text-align: left;
            
            input#comment {
                float: left;
                width: 50%;
                height: 30px;
                margin-left: 5%;
            }

            input#send {
                float: left;
                width: 15%;
                height: 34px;
                margin-left: 2%;
                
                &:hover { cursor: pointer; }
            }

            #allComments {
                display: block;
                width: 85%;
                height: 80%;
                float: left;
                margin-top: 20px;
                margin-left: 40px;
                overflow-x: hidden;
                
                h3 {
                    color: #fff;
                    text-decoration: underline;
                }
                
                p {
                    color: #fff;
                    font-size: 14px;
                    margin-left: 5px;
                    margin-top: 2px;

                    &:first-child {
                        margin-top: 6px;
                    }

                    span {
                        font-weight: bold;
                        margin-right: 8px;
                    }
                }
            } // close #allComments
        }
    }
    
    #gallery {
        display: block;
        width: 100%;
        overflow-x: hidden;
        
        h1 {
            color: #fff;
            margin-top: 10%;
        }
        
        div {
            float: left;
            display: flex;
            flex-direction: column;
            padding: 20px 10px 0 10px;
            font-weight: bold;
            height: 200px;
            margin: 0 auto;
            text-align: center;
            
            img {
                width: 180px;
                height: auto;
                
                &:hover {
                    cursor: pointer;
                }
            }

            span {
                float: left;
                color: #fff;
                font-size: 12px;
            }
            
            .imageAutor {
                padding-top: 5px;
            }
        }
    } // close gallery
    
    
    #uploadBox {
        display: none;
        width: 400px;
        height: 200px;
        border: 1px solid #000;
        background-color: #114183;
        .pos-absolute;
        margin: auto;
        
        #closeUpload {
            width: 25px;
            height: 25px;
            float: right;
            font-weight: bold;
            font-size: 16px;
            background-color: #f00;
            border: none;
            color: #fff;            
            
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 2px #000;
            }
        }
        
        h1 {
            display: flex;
            justify-content: center;
            color: #fff;
            margin-top: 30px;
        }
        
        #selectFileInput {
            margin-top: 30px;
            margin-left: 80px;
            width: 200px;
            color: #fff;
        }
        
        #uploadFileBtn {
            width: 200px;
            margin-top: 6px;
            margin-left: 80px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-self: center;
            text-align: center;
        }
    }
    
    #logInBox {
        display: none;
        width: 400px;
        height: 200px;
        border: 1px solid #000;
        background-color: #114183;
        .pos-absolute;
        margin: auto;
        
        #closeLogIn {
            width: 25px;
            height: 25px;
            float: right;
            font-weight: bold;
            font-size: 16px;
            background-color: #f00;
            border: none;
            color: #fff;            
            
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 2px #000;
            }
        }
        
        h1 {
            display: flex;
            justify-content: center;
            color: #fff;
            margin-top: 30px;
        }
        
        .loginInputs {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            
            input {
                width: 200px;
                height: 30px;

                &:nth-child(2) { margin-top: 5px; }
            }
            
            input[type='submit'] {
                width: 100px;
                margin-top: 5px;
                border: none;
                
                &:hover {
                    cursor: pointer;
                    background-color: #5f7cdd;
                    color: #fff;
                }
            }
        }    
    } // close .logInBox
    
} // close .content

footer {
    width: 100%;
    height: @footer-height;
    display: flex;
    background-color: @footer-color;
    justify-content: center;
    align-items: center;
    
    p {
        font-size: 12px;
        color: #fff;
    }
} // close footer